# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
fo
fo_serve.cgi
find_orb

covar.txt
covar?.txt
elements.txt
eleme?.txt
environ.dat
ephemeri.txt
guide.txt
guide?.txt
monte?.txt
mpcorb.dat
mpc_f?.txt
mpc_s?.txt
mpc_fmt.txt
mpc_sr.txt
mpec.htm
observe.txt
residual.txt
sr_elems.txt
sr_el?.txt
state.txt
state?.txt
vectors.dat
virtu?.txt
virtual.txt
